
  <h2 i18n>My Heroes</h2>
  <div>
  <label i18n>Hero name:</label> <input #heroName />
  <button i18n (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button class="delete"
        (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>
<div *ngIf="selectedHero">
  <h2 i18n>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button i18n (click)="gotoDetail()">View Details</button>
</div>